<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/Productfeature.css">
<title>About us</title>
    </head>
    <body>
    <style>
</style>
</head>
<body>

<div class="header">
<div class="sticky" button class="navigate-btn"><ul>
<img src='/img/homepage/Logo.png'">
  <li><a href="#news">MORE</a></li>
  <li><a href="#about">ABOUT US</a></li>
  <li><a class= "link active" button class="navigate-btn" onclick="window.location.href='C:/Xaamp/htdocs/dashboard/HTML/BEER/Checkout/Checkout.html'">MY CART</a></li>
   <li><a class= "link active" button class="navigate-btn" onclick="window.location.href='/home'">HOME</a></li>
   
</div>

<div class="checkout-container">

    <div class="left-section">


      <div class="product-item">
        <img src= '/img/productfeatures/Beer.png'" width="80" height="80" alt="High res image">
        <div class= "product-item">        
        </div>
      </div>
    </div>

    <div class="right-section">
      <h1>Tiger Classic</h1>
	  <div class="summary">
      <h3><span class="total-price">$70</span></h3>
	  </div>
	  
	   <div class="desc1">Product Description:</div>
	  <br></br>
	    <div class="underdesc">30 calories - 4.6 alcohol volume</div>
		
			    <div class="underdesc">30 oz. Bottled beer - 40ml</div>
	  <br></br>				
				    <div class="underdesc">Made in Singapore, Produced by Heineken.</div><br></br>

  
  <div class="dropdown">
   
<!-- OBJECTS JAVASCRIPT -->
  <form id="regForm" action="/buy-now" method="POST"onsubmit="return validateForm()">
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity" min="1" required>

  <select name="size" required>
    <option value="">Select Bottle Size</option>
    <option value="20oz">20oz</option>
    <option value="70oz">70oz</option>
    
  </select>
<br></br>
  <button type="submit" class="button"class="form-grid">BUY NOW</button>
  
</form>

	<!-- OBJECTS JAVASCRIPT -->
</form>
	
</div>
</div>

</div>
<br></br>
<div class="btn-group"class="form-grid">

<br></br>
  
<div class="desc">Reviewed by professionals</div>
  <!-- TESTIMONIES CODE/ ITALICS/ OBJECTS WITH IMAGES -->
  <div class="testimonials">
  <div class="testimonial">
    <p>“a solid choice for me, swalala!”</p>
    <div class="profile">
      <img src="/img/productfeatures/Man1.png" alt="Juan Dela Drinks">
      <div class="info">
        <strong>Juan Dela Drinks</strong><br>
        <span>Philippine Drinkers Associations</span>
      </div>
    </div>
  </div>

  <div class="testimonial">
    <p>“fine light drink for casuals!”</p>
    <div class="profile">
      <img src="/img/productfeatures/Man2.png" alt="Hannah Montalvo">
      <div class="info">
        <strong>Hannah Montalvo</strong><br>
        <span>CEO of Canadian Beer Specialist</span>
      </div>
    </div>
  </div>
  
  <div class="testimonial">
    <p>“la bière était bonne”</p>
    <div class="profile">
      <img src="/img/productfeatures/Man3.png" alt="Frenchie Friest">
      <div class="info">
        <strong>Frenchie Friest</strong><br>
        <span>Professional Drunker</span>
      </div>
    </div>
  </div>
  <div class="testimonial">
    <p>“la bière était bonne”</p>
    <div class="profile">
      <img src="/img/productfeatures/Man3.png" alt="Frenchie Friest">
      <div class="info">
        <strong>Frenchie Friest</strong><br>
        <span>Professional Drunker</span>
      </div>
</div>
</div>
 <div class="testimonial">
    <p>“la bière était bonne”</p>
    <div class="profile">
      <img src="/img/productfeatures/Man3.png" alt="Frenchie Friest">
      <div class="info">
        <strong>Frenchie Friest</strong><br>
        <span>Professional Drunker</span>
      </div>
	  </div>
</div>
  <!-- TESTIMONIES CODE/ ITALICS/ OBJECTS WITH IMAGES -->
</div><br></br>
 
<div class="desc">Our most popular drinks</div>

 <div class="gallery">
  <a target="_blank" href="/cart">
    <img src='/img/homepage/Heineken1.png'" alt="Heineken1" width="600" height="400">
  </a>
  <div class="product-name">Heineken Classic Bundle</div>
  <div class="product-price">$ 130</div>
  <div class="desc">Bundled 24 BOTTLES of 70oz Heineken Classic</div>
</div>

<div class="gallery">
  <a target="_blank" href="/cart">
    <img src='/img/homepage/Heineken2.png'" alt="Heineken2" width="600" height="400">
  </a>
  <div class="product-name">Heineken Mini Bundled</div>
    <div class="product-price">$ 80</div>
  <div class="desc">Bundled 24 BOTTLES of 20oz Heineken Mini</div>
</div>

<div class="gallery">
  <a target="_blank" href="/cart">
    <img src='/img/homepage/Corona.png'" alt="Corona.png" width="600" height="400">
  </a>
  <div class="product-name">Corona Extra Bundle</div>
   <div class="product-price">$ 250</div>
  <div class="desc">6 BOTTLES of 70oz Corona extra</div>
</div>

<div class="gallery">
  <a target="_blank" href="/cart">
    <img src='/img/homepage/Corona2.png'" alt="Corona2" width="600" height="400">
  </a>
  <div class="product-name">Corona Extra</div>
   <div class="product-price">$ 3</div>
  <div class="desc">1 CAN of 410ml Corona Extra</div>
</div>

<div class="gallery">
  <a target="_blank" href="/cart">
    <img src='/img/homepage/KingFisher.png'" alt="Kingfisher" width="600" height="400">
  </a>
  <div class="product-name">Kingfisher</div>
   <div class="product-price">$ 10</div>
  <div class="desc">Taste the premium Kingfisher in 1 CAN 70oz with 8% alcohol</div>
</div>

<div class="gallery">
  <a target="_blank" href="/cart">
    <img src='/img/homepage/Sanmiguel.png'" alt="Sanmiguel" width="600" height="400">
  </a>
  <div class="product-name">San Miguel Chocolate Lager</div>
   <div class="product-price">$ 10</div>
  <div class="desc">Limited Edition Chocolate Lager of San Miguel in 1 CAN 70oz with 8% alcohol</div>
</div>

<div class="gallery">
  <a target="_blank" href="/cart">
    <img src='/img/homepage/Mountainman.png'" alt="Mountainman" width="600" height="400">
  </a>
  <div class="product-name">Mountain Man by Jeremiah Johnson</div>
   <div class="product-price">$ 15</div>
  <div class="desc">Brewed in Montana delivered in 1 CAN 70oz </div>
</div>

</div>
</body>
</html>

    <footer>
            <%- include('../common/footer')%>
    </footer>   
    </body>
    </html> 