<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/Mangobeer.css"><!-- NAKA KONEKTA SA CODE NA ITO ANG CSS FILE -->
<title>Home</title>
</head>
    <body>
    <title>Mango Craft Beer</title>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
</style>
</head>
<body>
<!-- CODE FOR HEADER -->
<div class="header">
<div class="sticky" button class="navigate-btn"><ul><!-- STICKY CODE  -->
<img src="/img/homepage/Logo.png" alt="Alps">
  <li><a href="#news">MORE</a></li>
  <li><a href="#about">ABOUT US</a></li>
  <!-- NAVIGATE BUTTON TO ANOTHER PAGE -->
  <li><a class= "link active" button class="navigate-btn" onclick="window.location.href='/cart'">MY CART</a></li>
   <li><a class= "link active" button class="navigate-btn" onclick="window.location.href='/Login'">LOGIN</a></li>
<li><a class= "link active" button class="navigate-btn" onclick="window.location.href='/home'">HOME</a></li>
  </div>
  <!-- CODE FOR HEADER -->

	<center><img src="/img/homepage/Since.png" alt="Alps"></center><!-- MARKETING IMAGES-->
	<center><img src="/img/homepage/Market.png" alt="Alps"></center><!-- MARKETING IMAGES -->

</div>
<img src="/img/homepage/Brew.png" alt="Girl in a jacket">
<br></br>
<div class="btn-group"class="form-grid">
<button class="button button1"onclick="window.location.href ='cart'">SHOP NOW</button>
<button class="button">EXPLORE</button>
<br></br>
<p> Our most popular drinks<p>
<div class="gallery">
  <a target="_blank" href='cart'>
    <!-- NAVIGATE BUTTON TO ACCESS IMAGE-->
    <img src="/img/homepage/Heineken1.png" button class="navigate-btn" onclick="window.location.href ='cart'" width="600" height="400">
  <!-- NAVIGATE BUTTON CODE -->
  </a>
  <div class="product-name">Heineken Classic Bundle</div>
  <div class="product-price">$ 130</div>
  <div class="desc">Bundled 24 BOTTLES of 70oz Heineken Classic</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="/img/homepage/Heineken2.png" button class="navigate-btn" onclick="window.location.href ='cart'" width="600" height="400">
  </a>
  <div class="product-name">Heineken Mini Bundled</div>
    <div class="product-price">$ 80</div>
  <div class="desc">Bundled 24 BOTTLES of 20oz Heineken Mini</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="/img/homepage/Corona.png" button class="navigate-btn" onclick="window.location.href ='cart'" width="600" height="400">
  </a>
  <div class="product-name">Corona Extra Bundle</div>
   <div class="product-price">$ 250</div>
  <div class="desc">6 BOTTLES of 70oz Corona extra</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/img/homepage/Corona2.png" button class="navigate-btn" onclick="window.location.href ='cart'" width="600" height="400">
  </a>
  <div class="product-name">Corona Extra</div>
   <div class="product-price">$ 3</div>
  <div class="desc">1 CAN of 410ml Corona Extra</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/img/homepage/Kingfisher.png" button class="navigate-btn" onclick="window.location.href ='cart'" width="600" height="400">
  </a>
  <div class="product-name">Kingfisher</div>
   <div class="product-price">$ 10</div>
  <div class="desc">Taste the premium Kingfisher in 1 CAN 70oz with 8% alcohol</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/img/homepage/Sanmiguel.png" button class="navigate-btn" onclick="window.location.href ='cart'" width="600" height="400">
  </a>
  <div class="product-name">San Miguel Chocolate Lager</div>
   <div class="product-price">$ 10</div>
  <div class="desc">Limited Edition Chocolate Lager of San Miguel in 1 CAN 70oz with 8% alcohol</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/img/homepage/Mountainman.png" button class="navigate-btn" onclick="window.location.href ='cart'" width="600" height="400">
  </a>
  <div class="product-name">Mountain Man by Jeremiah Johnson</div>
   <div class="product-price">$ 15</div>
  <div class="desc">Brewed in Montana delivered in 1 CAN 70oz </div>
</div>

</div>



</body>
</html>

   
    </body>
    </html> 